

<main>
  <div class="func">    
    <div class="descrip">
        <h2>¿Cómo funciona SkillHub?</h2>
        <p>
          Es realmente sencillo. Simplemente accede a nuestra plataforma en línea y accede a una amplia gama de cursos de programación a tu disposición, las 24 horas del día, los 7 días de la semana.
         
          Puedes elegir entre clases grupales en vivo con instructores expertos o cursos individuales. Nuestra plataforma ofrece una variedad de ejercicios prácticos diseñados para mejorar tus habilidades de codificación, comprensión de algoritmos y práctica de desarrollo de software. Encuentra lecciones magistrales de los profesionales en la industria y desafíos para poner a prueba tus conocimientos.
         
          Para avanzar de nivel, simplemente completa una cantidad mínima de clases en vivo, ejercicios y lecciones correspondientes al nivel. ¡Prepárate para llevar tus habilidades de programación al siguiente nivel con SkillHub!
        </p>
    </div>


    <div class="imagen">
        <img src="./assets/comofunciona.png">
    </div>
</div>




<div class="clientes">


    <div class="imagenes">
            <img class="imagen" src="./assets/juntosfuncionamiento.jpg">
    </div>


    <div class="descripcion">
        <h2>Resultados de los estudiantes en <br> <br> SkillHub</h2>
        <p><strong>El 87<!-- -->&nbsp;<!-- -->% de las personas que aprenden</strong> para el <br> <br>
             desarrollo profesional <strong>reportan beneficios  <br> <br>
                profesionales</strong>, como obtener un ascenso, recibir un <br> <br>
                aumento o comenzar una nueva carrera.  <br> <br>
        </p>
        <p>Nuestra educacion te brinda un futuro mejor.</p>
        <button *ngIf="!isUserLoggedIn" class="contacto"><a routerLink="/registro">Únete de forma gratuita</a></button>
    </div>
</div>


</main>