<main>
  <div class="formulario">
    <form [formGroup]="alumnoForm" (ngSubmit)="editStudent()">
      <h1 class="titulo">Modifique su perfil</h1>
      <div class="contform1">
        <div class="form-elemento">
          <h3>Nombre</h3>
          <input type="text" class="form-control" formControlName="name" pattern="[a-zA-ZáéíóúüÁÉÍÓÚÜ\s]+" maxlength="30" required>
          <div *ngIf="alumnoForm.get('name')?.invalid && (alumnoForm.get('name')?.dirty || alumnoForm.get('name')?.touched)" class="text-danger">
            <div *ngIf="alumnoForm.get('name')?.errors?.['required']">El nombre es requerido.</div>
            <div *ngIf="alumnoForm.get('name')?.errors?.['pattern']">El nombre debe contener solo caracteres alfabéticos.</div>
          </div>
        </div>

        <!-- Apellido -->
        <div class="form-elemento">
          <h3>Apellido</h3>
          <input type="text" class="form-control" formControlName="lastname" pattern="[a-zA-ZáéíóúüÁÉÍÓÚÜ\s]+" maxlength="30" required>
          <div *ngIf="alumnoForm.get('lastname')?.invalid && (alumnoForm.get('lastname')?.dirty || alumnoForm.get('lastname')?.touched)" class="text-danger">
            <div *ngIf="alumnoForm.get('lastname')?.errors?.['required']">El apellido es requerido.</div>
            <div *ngIf="alumnoForm.get('lastname')?.errors?.['pattern']">El apellido debe contener solo caracteres alfabéticos.</div>
          </div>
        </div>

        <!-- Edad -->
        <div class="form-elemento">
          <h3>Edad</h3>
          <input type="number" class="form-control" formControlName="age">
          <div *ngIf="alumnoForm.get('age')?.invalid && (alumnoForm.get('age')?.dirty || alumnoForm.get('age')?.touched)" class="text-danger">
            <div *ngIf="alumnoForm.get('age')?.errors?.['required']">La edad es requerida.</div>
          </div>
        </div>

        <!-- Password -->
        <div class="form-elemento">
          <h3>Ingrese su contraseña</h3>
          <input type="password" class="form-control" formControlName="password">
          <div *ngIf="alumnoForm.get('password')?.invalid && (alumnoForm.get('password')?.dirty || alumnoForm.get('password')?.touched)" class="text-danger">
            <div *ngIf="alumnoForm.get('password')?.errors?.['required']">La contraseña es requerida.</div>
            <div *ngIf="alumnoForm.get('password')?.errors?.['minlength']">La contraseña debe tener al menos 4 caracteres.</div>
          </div>
        </div>
        <div class="buttons">
        <button type="submit" class="btn btn-info" id="submit" [disabled]="!alumnoForm.valid">Guardar</button>
        <a class="btn btn-light" href="/misdatos">Cancelar</a>
      </div>
      </div>
    </form>
  </div>
</main>