
    <footer>
        <div class="contenedor">

            <div class="item-1">
                <h2>Secciones</h2>
                <nav>
                    <ul>
                        <li><a routerLink="/">Inicio</a></li>
                        <li><a routerLink="/cursos">Cursos</a></li>
                        <li><a routerLink="/ensenia">Enseña en SkillHub</a></li>
                        <li><a routerLink="/funcionamiento">Cómo funciona</a></li>
                    </ul>
                </nav>
            </div>

            <div class="item-1">
                <h2>Contacto</h2>
                <ul>
                    <li><i class="bi bi-whatsapp"></i>+54-341-3875512</li>
                    <li><i class="bi bi-envelope"></i> skillhub@gmail.com</li>
                    <li><i class="bi bi-geo-alt-fill"></i> Rosario, Argentina.</li>
                </ul>
            </div>
            <div class="item-1">
                <h2>Follow US</h2>
                <ul>
                    <li><i class="bi bi-instagram"></i>@skillhub</li>
                    <li><i class="bi bi-facebook"></i>skillhub </li>
                    <li><i class="bi bi-linkedin"></i>SkillHub</li>
                </ul>
            </div>

        </div>
        
    </footer>
