
<main>
  <div class="formulario">
    <form (ngSubmit)="createStudent()" #alumnoForm="ngForm">
      <h1 class="titulo">¡Regístrate gratis ahora!</h1>
      <div class="contform1">
        <div class="form-elemento">
          <h3>Nombre</h3>
          <input type="text" class="form-control" name="name" id="name" pattern="[a-zA-ZáéíóúüÁÉÍÓÚÜ\s]+" maxlength="30" required
            [(ngModel)]="student.name" #name="ngModel">
          <div *ngIf="name.invalid && (name.dirty || name.touched)" class="text-danger">
            <div *ngIf="name.errors?.['required']">El nombre es requerido.</div>
            <div *ngIf="name.errors?.['pattern']">Ingresa solo caracteres alfabéticos.</div>
          </div>
        </div>

        <!-- Apellido -->
        <div class="form-elemento">
          <h3>Apellido</h3>
          <input type="text" class="form-control" name="lastname" id="lastname" pattern="[a-zA-ZáéíóúüÁÉÍÓÚÜ\s]+" maxlength="30" required [(ngModel)]="student.lastname" #lastname="ngModel">
          <div *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)" class="text-danger">
            <div *ngIf="lastname.errors?.['required']">El apellido es requerido.</div>
            <div *ngIf="lastname.errors?.['pattern']">Ingresa solo caracteres alfabéticos.</div>
          </div>
        </div>

        <!-- Age -->
        <div class="form-elemento">
          <h3>Edad</h3>
          <input type="number" class="form-control" name="age" id="age" required [(ngModel)]="student.age"
            #age="ngModel">
          <div *ngIf="age.invalid && (age.dirty || age.touched)" class="text-danger">
            <div *ngIf="age.errors?.['required']">La edad es requerida.</div>
          </div>
        </div>

        <!-- Email -->
        <div class="contform1">
          <div class="form-elemento">
            <h3>Email</h3>
            <input type="email" class="form-control" name="email" id="email" required [(ngModel)]="student.email"
              #email="ngModel">
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
              <div *ngIf="email.errors?.['required']">El email es requerido.</div>
              <div *ngIf="email.errors?.['email']">El email no es válido.</div>
            </div>
          </div>

          <!-- Password -->
          <div class="form-elemento">
            <h3>Ingrese su contraseña</h3>
            <input type="password" class="form-control" name="password" id="password" required minlength="4" required
              [(ngModel)]="student.password" #password="ngModel">
            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger">
              <div *ngIf="password.errors?.['required']">La contraseña es requerida.</div>
              <div *ngIf="password.errors?.['minlength']">La contraseña debe tener al menos 4 caracteres.</div>
            </div>
          </div>
        </div>

        <button type="submit" class="form-button" id="submit" [disabled]="alumnoForm.invalid">ENVIAR</button>
        <div class="separator"></div>
        <div class="ud-text-sm">
          <span>¿Ya tienes una cuenta? <a class="ud-text-bold ud-link-underline"
              href="/login">Inicia sesión</a></span>
        </div>
      </div>
    </form>
  </div>
</main>

